<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/webfonts/all.css">
</head>
<body>
    <nav>
        <a href="/">
            <div class="logo"><h2>ECCLESSIA</h2></div>
        </a>
        <div class="menu"><i class="fas fa-list" id="menu"></i></div>
    </nav>
    <div class="mobilemenu" id="mobile">
        <div id="close">&times;</div>
        <ul>
            <li><a href=""><i class="fas fa-user"></i> USER</a></li>
            <li><a href="/"><i class="fas fa-podcast"></i> HOME</a></li>
            <li><a href="/"><i class="fas fa-video"></i> VIDEOS</a></li>
            <li><a href="/"><i class="fas fa-music"></i> MUSIC</a></li>
            <li><a href="/"><i class="fas fa-camera"></i> PHOTOS</a></li>
            <li><a href="/"><i class="fab fa-facebook"></i> HOME</a></li>
        </ul>
        <div class="social">
            <a href="/"><i class="fab fa-codepen"></i></a>
            <a href="/"><i class="fab fa-instagram"></i></a>
            <a href="/"><i class="fab fa-whatsapp"></i></a>
            <a href="/"><i class="fab fa-github"></i></a>
            <a href="/"><i class="fab fa-linkedin"></i></a>
            <a href="/"><i class="fab fa-chrome"></i></a>
            <a href="/"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <main>
        <div class="welcome">
            <div class="h2">
                <h2>WELCOME TO BEST FULLSTACK DEVELOPER</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae reiciendis sit eligendi. Rerum minima incidunt assumenda alias. Qui et molestiae hic iste distinctio, ad consequuntur ex, debitis officia, harum saepe.</p>
            </div>
            <div class="scrolldown">
                <a href="#scrollformoredetails">
                    <div class="scroll"><h3>SCROLL FOR MORE</h3></div>
                </a>
                
            </div>
        </div>
        <div class="techs" id="scrollformoredetails">
            
        </div>
    </main>


    <script src="/main/main.js"></script>
</body>
</html>