<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>POTFORLIO </title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/videoplayer.css">
        <link rel="stylesheet" href="/css/webfonts/all.css">
    </head>
    
<body>
    <nav>
        <a href="/">
            <div class="logo"><h2>ECCLESSIA</h2></div>
        </a>
        <div class="menu"><i class="fas fa-bars" id="menu"></i></div>
    </nav>
    <div class="mobilemenu" id="mobile">
        <div id="close">&times;</div>
        <ul>
            <li><a href=""><i class="fas fa-user"></i> USER</a></li>
            <li><a href="/"><i class="fas fa-podcast"></i> HOME</a></li>
            <li><a href="/videoplayer"><i class="fas fa-video"></i> VIDEO</a></li>
            <li><a href=""><i class="fas fa-music"></i> MUSIC</a></li>
            <li><a href=""><i class="fas fa-camera"></i> GALLERY</a></li>
        </ul>
        <div class="social">
            <a href="/"><i class="fab fa-codepen"></i></a>
            <a href="/"><i class="fab fa-instagram"></i></a>
            <a href="/"><i class="fab fa-whatsapp"></i></a> 
            <a href="/"><i class="fab fa-github"></i></a>
            <a href="/"><i class="fab fa-linkedin"></i></a>
            <a href="/"><i class="fab fa-chrome"></i></a>
            <a href="/"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <main>
        <section class="videoplayer">
            <div class="videocontainer">
                <video src="/video/sample.mp4" autoplay></video>
            </div>
            <div class="videocontrols">
                <div class="controls">
                    <div class="duration">
                        <p class="start">00:00</p>
                        <input type="range" name="range" id="range">
                        <p class="end">32:00</p>
                    </div>
                    <div class="buttons">
                        <i class="fas fa-redo-alt"></i>
                        <i class="fas fa-step-backward"></i>
                        <i class="fas fa-play"></i>
                        <i class="fas fa-step-forward"></i>
                        <i class="fas fa-volume-up"></i>
                    </div>
                </div>
            </div>
            <div class="reviews">
                <i class="fas fa-thumbs-up"></i>
                <i class="fas fa-thumbs-down"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fab fa-heart"></i>
                <i class="far fa-smile-wink"></i>
            </div>
        </section>
    </main>
    <footer>
            <h2>Lorem ipsum dolor sit amet consectetur.</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, sed iure aperiam vero iste quisquam quidem adipisci quibusdam ut neque !</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui culpa adipisci animi corporis ab. Possimus harum aliquid vevoluptatibus magnam illo?</p>
    </footer>
    <script src="/main/main.js"></script>
</body>
</html>